<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 - 쿠플릭스</title>
    <link rel="stylesheet" href="/stylesheets/login/main_page_style.css">
    <script src="https://kit.fontawesome.com/11643b24f4.js" crossorigin="anonymous"></script>
    <!--nodejs로부터 css에도 데이터 넘겨주기 위해 inline방식 사용-->
    <style> 
        .mainpart{
        display: block;
        background : linear-gradient(to top, #000000, transparent 80%), url('/images/thumb/<%=random_video.title%>_thumb.jpg');
        background-size: cover;
        cursor: pointer;
    }
    </style>
</head>
<body>
    <header>
        <nav class="navBar">
            <div class="KHUFLIX">
                <img class="title" src="/images/KHU_FLIX.png" onclick="location.href='/main'">
            </div>
            <ul class="In_navbar">
                <a class="menu page" onclick="location.href='/main'">홈</a>
                <a class="menu" href="">TV 프로그램</a>
                <a class="menu" href="">영화</a>
                <a class="menu" href="">내가 찜한 콘텐츠</a>
            </ul>
            <ul class="top_right">
                <li><i class="fas fa-search" onclick="location.href='/search'"></i></li>
                <li><i class="fas fa-bell"></i></li>
                <li class="account"><img class="acc" src="/images/account.png">
                    <ul class="account sub"> 
                        <li class="acc_li"><%=user.name%></li>
                        <li class="account s_li" href="">내가 찜한 콘텐츠</li>
                        <li class="account s_li logout">로그아웃</li>
                        <li class="account s_li exit" onclick="">회원탈퇴</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="modal">
        <div class="logout_body">
            <div class="logout_content">
            <h2> 정말 로그아웃 하시겠습니까? </h2><br>
            <button type="submit" class="yes_btn" name="logoutBTN">네</button> <button class="no_btn">아니요</button>
            <span class="lines"></span>
            </div>
        </div>
    </div>

    <div class="modal_exit">
        <div class="exit_body">
            <div class="exit_content">
            <h2> 아직 쿠플릭스에서 못 즐긴 컨텐츠가 많아요 :( <br> 정말 탈퇴하실 건가요?</h2>
            <button type="submit" class="yes_btn_exit" name="deleteBTN">네</button> <button class="no_btn_exit">아니요</button>
            <span class="lines_exit"></span>
            </div>
        </div>
    </div>


    

    <div class="mainpart" onclick="location.href='/detail?title=<%=random_video.title%>'">
    <!-- <div class="mainpart" style="background-image: linear-gradient(to top, #000000, transparent 80%), url('/images/thumb/<%=random_video.title%>_thumb.jpg')">-->
            <div class="part">
            <div class="logo">
                <img class="title_logo" src="/images/logo/<%=random_video.title%>_logo.png" alt="<%=random_video.title%>">
            </div>
            <!-- <div class="box">
                <button class="main_btn" id="play_this">Play Now</button>
                <button class="main_btn" id="more_info">Information</button>
            </div> -->
        </div> 
    </div>
    <div class="contents c1">한국이 만든 콘텐츠</div>
    <div class="section">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <div class="slidewrap s1">
            <ul class="slidelist">
                <li>
                    <a>
                        <% videos.forEach((video)=>{%>
                            <img class="thumb" src="/images/thumb/<%=video.title%>_thumb.jpg" alt="<%=video.title%>" onclick="location.href='/detail?title=<%=video.title%>'">
                        <%});%>
                        <!--
                        <img class="thumb" src="/images/squid.png">
                        <img class="thumb" src="/images/drama1.png">
                        <img class="thumb" src="/images/hell.png">
                        <img class="thumb" src="/images/vin.png">
                        <img class="thumb" src="/images/hotel.png">
                        -->
                        <label for="slide02" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide01" class="left"></label>
                        <% videos.forEach((video)=>{%>
                            <img class="thumb" src="/images/thumb/<%=video.title%>_thumb.jpg" alt="<%=video.title%>" onclick="location.href='/detail?title=<%=video.title%>'">
                        <%});%>
                        <!--
                        <img class="thumb" src="/images/squid.png">
                        <img class="thumb" src="/images/drama1.png">
                        <img class="thumb" src="/images/hell.png">
                        <img class="thumb" src="/images/vin.png">
                        <img class="thumb" src="/images/hotel.png">
                        -->
                        <label for="slide03" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide02" class="left"></label>
                        <% videos.forEach((video)=>{%>
                            <img class="thumb" src="/images/thumb/<%=video.title%>_thumb.jpg" alt="<%=video.title%>" onclick="location.href='/detail?title=<%=video.title%>'">
                        <%});%>
                        <!--
                        <img class="thumb" src="/images/squid.png">
                        <img class="thumb" src="/images/drama1.png">
                        <img class="thumb" src="/images/hell.png">
                        <img class="thumb" src="/images/vin.png">
                        <img class="thumb" src="/images/hotel.png">
                        -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="contents c2"><b><%=user.name%></b>님이 시청 중인 콘텐츠</div>
    <div class="section">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">

        <div class="slidewrap s2">
            <ul class="slidelist">
                <li>
                    <a>
                        <% user.history.forEach((video)=>{%>
                        <img class="thumb" src="/images/thumb/<%=video.title%><%=video.episode%>_thumb.jpg" alt="" onclick="location.href='/streaming/<%=video.title%>/<%=video.episode%>'">
                        <%});%>
                        <label for="slide02" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide01" class="left"></label>
                        <% user.history.forEach((video)=>{%>
                            <img class="thumb" src="/images/thumb/<%=video.title%><%=video.episode%>_thumb.jpg" alt="" onclick="location.href='/streaming/<%=video.title%>/<%=video.episode%>'">
                            <%});%>
                        <label for="slide03" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide02" class="left"></label>
                        <% user.history.forEach((video)=>{%>
                            <img class="thumb" src="/images/thumb/<%=video.title%><%=video.episode%>_thumb.jpg" alt="" onclick="location.href='/streaming/<%=video.title%>/<%=video.episode%>'">
                            <%});%>
                    </a>
                </li>
            </ul>
        </div>
    </div> 

  

</body>
<script>
    
    const body = document.querySelector('body');
    const exit_body = document.querySelector('.exit_body');
    const modal = document.querySelector('.modal');
    const modal_exit = document.querySelector('.modal_exit');
    const logoutBtn = document.querySelector('.logout');
    const exitBtn = document.querySelector('.exit');
    const yesBtnExit = document.querySelector('.yes_btn_exit');
    const noBtnExit = document.querySelector('.no_btn_exit');
    const yesBtn = document.querySelector('.yes_btn');
    const noBtn = document.querySelector('.no_btn');
    const lines = document.querySelector('.lines');
    const lines_exit = document.querySelector('.lines_exit');
    var h2 = document.getElementsByTagName('h2')[0];
    var h22 = document.getElementsByTagName('h2')[1];

      logoutBtn.addEventListener('click', () => {
        modal.classList.toggle('show');

        if (modal.classList.contains('show')) {
          body.style.overflow = 'hidden';
        }
      });

      exitBtn.addEventListener('click', () => {
        modal_exit.classList.toggle('show');

        if (modal_exit.classList.contains('show')) {
          body.style.overflow = 'hidden';
        }
      });

      modal.addEventListener('click', (event) => {
        if (event.target === modal) {
          modal.classList.toggle('show');

          if (!modal.classList.contains('show')) {
            body.style.overflow = 'auto';
          }
        }
      });

      modal_exit.addEventListener('click', (event) => {
        if (event.target === modal_exit) {
          modal_exit.classList.toggle('show');

          if (!modal_exit.classList.contains('show')) {
            body.style.overflow = 'auto';
          }
        }
      });

      noBtn.addEventListener('click',(event)=>{
          location.href="new_main_page.html";
      })

      noBtnExit.addEventListener('click',(event)=>{
          location.href="new_main_page.html";
      })

      yesBtn.addEventListener('click',(event)=>{
          h2.remove();
          yesBtn.remove();
          noBtn.remove();
        
          lines.innerHTML="로그아웃 처리 되었습니다. 3초 후 로그인 페이지로 돌아갑니다.";
          setTimeout(function(){
              location.href="/logout";
          },3000);
      })

      yesBtnExit.addEventListener('click',(event)=>{
          h22.remove();
          yesBtnExit.remove();
          noBtnExit.remove();

          lines_exit.innerHTML="탈퇴 처리 되었습니다. 3초 후 로그인 페이지로 돌아갑니다.";
          setTimeout(function(){
              location.href="/remove";
          },3000);
      })

      //페이스북 로그인 시 url 끝에 생기는 '#_=_'를 제거
    if (window.location.hash && window.location.hash == '#_=_') { 
         history.pushState("", document.title, window.location.pathname + window.location.search);
    }

</script>
</html>