<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 - 쿠플릭스</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/login/main_page_style.css">
    <script src="https://kit.fontawesome.com/11643b24f4.js" crossorigin="anonymous"></script>
    <style> 
    .mainpart{
        display: block;
        background : linear-gradient(to top, #000000, transparent 80%), url('/images/random/스타트업_random.jpg');
        background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navBar">
            <div class="nav_left">
                <div class="KHUFLIX">
                    <div class="in_logo"><img class="title" src="/images/KHUFLIX.PNG" onclick="location.href='/main'"></div>
                </div>
                <div class="nav_menu">
                    <ul class="In_navbar">
                        <a class="menu page" href="/main">홈</a>
                        <a class="menu" href="/TV_list">TV 프로그램</a>
                        <a class="menu" href="/movie_list">영화</a>
                        <a class="menu" href="/like" >내가 찜한 콘텐츠</a>
                    </ul>
                </div>
            </div>
            <div class="nav_right">
                <ul class="top_right">
                    <li><i class="fas fa-search" onclick="location.href='/search'"></i></li>
                    <li><i class="fas fa-bell"></i></li>
                    <li class="account">
                        <img class="acc" src="/images/account.png">
                        <ul class="account sub"> 
                            <li class="acc_li" style="font-weight: 600; color: #8fb6ff;"><%=user.name%></li>
                            <li class="account s_li" onclick="location.href='/like'"><p>내가 찜한 콘텐츠</p></li>
                            <li class="account s_li logout"><p>로그아웃</p></li>
                            <li class="account s_li exit" onclick=""><p>회원탈퇴</p></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="logout_modal">
        <div class="logout_body">
            <div class="logout_content">
            <h2> 정말 로그아웃 하시겠습니까? </h2><br>
            <button type="submit" class="yes_btn" name="logoutBTN">네</button> <button class="no_btn">아니요</button>
            <span class="lines"></span>
            </div>
        </div>
    </div>

    <div class="exit_modal">
        <div class="exit_body">
            <div class="exit_content">
            <h2> 아직 쿠플릭스에서 못 즐긴 컨텐츠가 많아요 :( <br> 정말 탈퇴하실 건가요?</h2>
            <button type="submit" class="yes_btn_exit" name="deleteBTN">네</button> <button class="no_btn_exit">아니요</button>
            <span class="lines_exit"></span>
            </div>
        </div>
    </div>


    <div class="mainpart" style="position: relative;" >
        
        <div class="part">
            <div class="logo" onclick="location.href='/detail?title=강아지'">
                <img class="title_logo" src="/images/logo/스타트업_logo.png" >
            </div>
        </div> 
        <div class="contents c1">한국이 만든 콘텐츠</div>
        <div class="section" style="position: absolute; top: 33%;">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02">
            <input type="radio" name="slide" id="slide03">
            <div class="slidewrap s1">
                <ul class="slidelist">
                    <li>
                        <a>
                            <div class="image">
                                <img class="i btn-open-popup" src="/images/drama1.png" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                                <div class="modal">
                                    <div class="container">
                                        <section class="item item-a open">
                                            <img class="pre" src="/images/preview.png" alt="">
                                        </section>
                                        <section class="item item-b">
                                            <div class="container2">
                                                <div class="buttons">
                                                    <button class="circle play" onclick="location.href='/streaming/슬기로운 의사생활/1'"><i class="fas fa-play"></i></button>
                                                    <button class="circle" onclick="location.href='/like/슬기로운 의사생활'"><i class="fas fa-check"></i></button>
                                                    <button class="circle"><i class="far fa-thumbs-up"></i></button>
                                                    <button class="circle down"><i class="far fa-thumbs-down"></i></button>
                                                    <button class="circle etc"><i class="fas fa-chevron-down"></i></button>
                                                </div>
                                                <div class="data">
                                                    <p>
                                                        <span style="color:#46D369; font-weight:bold;">92% 일치 </span>
                                                        <span style="color: #FFFFFF; font-weight:normal">시즌 2개</span>
                                                    </p>
                                                </div>
                                                <div class="genre">
                                                    <p>힐링 <i class="fas fa-circle"></i>
                                                        가슴 뭉클 <i class="fas fa-circle"></i>
                                                        드라마 장르
                                                    </p>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <!-- <label for="slide03" class="left"></label> -->
                            <% videos.forEach((video)=>{%>
                                <img class="i" src="/images/thumb/<%=video.title%>_thumb.jpg" width="341px" height="auto" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)" onclick="location.href='/detail?title=<%=video.title%>'">
                            <%});%>
                            <label for="slide02" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide01" class="left"></label>
                            <label for="slide03" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide02" class="left"></label>
                            <label for="slide01" class="right"></label>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="contents c2"><%=user.name%>님이 시청 중인 콘텐츠 <span style="color: rgb(104, 104, 104); font-size: 14px;">최근 5개</span></div>
            <%if(user.history.length==0){%> <!--히스토리가 없을 때-->
                <div class="content">
                        <div class="no_history"style="color:white;"><h1>아직 본 영상이 없어요 :(</h1></div>   
                </div>

            <%}else if(user.history.length >4){%> <!--히스토리가 5개 이상일 때-->
                <!-- 1안 -->
                <!-- <div class="content">
                    <ul>
                        <li>
                            <a>
                                <%for(var i = user.history.length-1; i >= user.history.length-5; i--){%>
                                    <img class="watched" src="/images/thumb/<%=user.history[i].title%>_thumb.jpg" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)" onclick="location.href='/streaming/<%=user.history[i].title%>/<%=user.history[i].episode%>'">
                                <%}%>
                            </a>
                        </li>
                    </ul>
                </div> -->
                
                <!-- 2안 -->
                <div class="watchedlist">
                    <ul>
                        <%for(var i = user.history.length-1; i >= user.history.length-5; i--){%>
                        <li>
                            <a href="/streaming/<%=user.history[i].title%>/<%=user.history[i].episode%>">
                                <div class="screen">
                                    <div class="top"><%=user.history[i].episode%>화</div>
                                    <img src="/images/thumb/<%=user.history[i].title%>_thumb.jpg">
                                </div>
                            </a>
                        </li>
                        <%}%>
                    </ul>
                </div>

            <%}else{%> <!--히스토리가 5개 미만일 때-->
                <!-- 1안 -->
                <!-- <div class="content"> 
                    <ul>
                        <li>
                            <a>
                                <%for(var i = user.history.length-1; i >= 0; i--){%>
                                    <img class="watched" src="/images/thumb/<%=user.history[i].title%>_thumb.jpg" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)" onclick="location.href='/streaming/<%=user.history[i].title%>/<%=user.history[i].episode%>'">
                                <%}%>
                            </a>
                        </li>
                    </ul>
                    
                </div> -->

                <!-- 2안 -->
                <div class="watchedlist">
                    <ul>
                        <%for(var i = user.history.length-1; i >= 0; i--){%>
                        <li>
                            <a href="/streaming/<%=user.history[i].title%>/<%=user.history[i].episode%>">
                                <div class="screen">
                                    <div class="top"><%=user.history[i].episode%>화</div>
                                    <img src="/images/thumb/<%=user.history[i].title%>_thumb.jpg">
                                </div>
                            </a>
                        </li>
                        <%}%>
                    </ul>
                </div>
            <%}%>

        </div>
    </div>

    <div class="modal2 hidden">
        <div class="background">
            <div class="playpart">
                <div style="position: relative;">
                    <div style="position: absolute; top: 30px; right: 35px;">
                        <button class="circle close"><i class="fas fa-times"></i></button>
                    </div>
                    <!-- <iframe width="850" height="479" src="https://www.youtube.com/embed/SaBwCrrk8ng?controls=0" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <div style="position: absolute; top: 230px; left: 50px;">
                        <img class="v_logo" src="/images/logo/슬기로운 의사생활_logo.png"></img>
                        <div class="v_buttons">
                            <button class="v_play" onclick="location.href='/streaming/슬기로운 의사생활/1'"><i class="fas fa-play playing m2"></i> 재생</button>
                            <button class="v_circle" onclick="location.href='/like/슬기로운 의사생활'"><i class="fas fa-check m2"></i></button>
                            <button class="v_circle"><i class="far fa-thumbs-up m2"></i></button>
                            <button class="v_circle"><i class="far fa-thumbs-down m2"></i></button>
                            <!-- <button class="circle" id="mute"><i class="fas fa-volume-mute"></i></button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="infopart">
                <div class="section1">
                    <div class="v_left">
                        <p>
                            <span style="color:#46D369; font-weight:bold;">92% 일치 </span>
                            <span style="color: #FFFFFF; font-weight:normal">2021</span>
                        </p>
                        <p>
                            <span class ="detail" style="color: #FFFFFF; font-weight:normal;">
                                탄생과 죽음이 공존하는, 
                                인생의 축소판이라고 불리는 병원에서 특별한 하루하루를 살아가는 사람들의 
                                이야기를 그린 드라마
                            </span>
                        </p>
                    </div>
                    <div class="v_right">
                        <div class="info">
                            <span class="article">출연:</span>
                            <span class="v_contents">조정석, 유연석, 정경호, <I>더보기</I></span>
                        </div>
                        <div class="info">
                            <span class="article">장르:</span>
                            <span class="v_contents">메디컬 TV 시리즈, 한국 드라마, TV 드라마</span>
                        </div>
                        <div class="info">
                            <span class="article">프로그램 특징:</span>
                            <span class="v_contents">힐링, 가슴 뭉클</span>
                        </div>
                    </div>
                </div>
    
                <div class="tab_content">
                    <input type="radio" name="tabmenu" id="tab01" checked>
                    <label for="tab01"><h3>회차</h3></label>
                    <input type="radio" name="tabmenu" id="tab02" unchecked>
                    <label for="tab02"><h3>OST</h3></label>
    
                    <div class="conbox con1">
                        <div class="episode">
                            <div class="epi first_e" onclick="location.href='/streaming/슬기로운 의사생활/1'">
                                <div class="e_number out_box"><div class="e_num in_box">1</div></div>
                                <div class="thumbnail out_box"><div class="in_box"><img class="thumb" src="/images/thumb/슬기로운 의사생활1_thumb.jpg"></div></div>
                                <div class="text">
                                    <div class="e_title">
                                        <div class="story">1화</div>
                                        <div class="time">82분</div>
                                    </div>
                                    <div class="summary"><p>99학번 의예과 동갑내기 친구들, 이젠 내 환자 보기에도 24시간이 부족한 40대 의사가 되었다.
                                        각자 방식으로 살아가던 다섯 명의 친구들에게 한 통의 전화가 걸려오는데!</p></div>
                                </div>
                                <div class="blank"></div>
                            </div>
                            <div class="epi" onclick="location.href='/streaming/슬기로운 의사생활/2'">
                                <div class="e_number out_box"><div class="e_num in_box">2</div></div>
                                <div class="thumbnail out_box"><div class="in_box"><img class="thumb" src="/images/thumb/슬기로운 의사생활2_thumb.jpg"></div></div>
                                <div class="text">
                                    <div class="e_title">
                                        <div class="story">2화</div>
                                        <div class="time">82분</div>
                                    </div>
                                    <div class="summary"><p>20년 만에 한 병원에서 만나게 된 친구들. 오늘도 각자 한 사람의 의사로서 최선을 다한다. 
                                        한편, 송화는 환자 차트에서 왜인지 낯설지 않은 이름을 발견하는데...</p></div>
                                </div>
                                <div class="blank"></div>
                            </div>
                            <div class="epi" onclick="location.href='/streaming/슬기로운 의사생활/2'">
                                <div class="e_number out_box"><div class="e_num in_box">3</div></div>
                                <div class="thumbnail out_box"><div class="in_box"><img class="thumb" src="/images/thumb/슬기로운 의사생활3_thumb.jpg"></div></div>
                                <div class="text">
                                    <div class="e_title">
                                        <div class="story">3화</div>
                                        <div class="time">79분</div>
                                    </div>
                                    <div class="summary"><p>뚱~한 표정을 하고 겨우 몇 마디 하는 석형 때문에 민하는 오늘도 답답하기만 하고. 
                                        홍도와 윤복은 병원 밖에서 송화의 비밀스러운 취미 생활을 알게 되는데...</p></div>
                                </div>
                                <div class="blank"></div>
                            </div>
                            <div class="epi" onclick="location.href='/streaming/슬기로운 의사생활/2'">
                                <div class="e_number out_box"><div class="e_num in_box">4</div></div>
                                <div class="thumbnail out_box"><div class="in_box"><img class="thumb" src="/images/thumb/슬기로운 의사생활4_thumb.jpg"></div></div>
                                <div class="text">
                                    <div class="e_title">
                                        <div class="story">4화</div>
                                        <div class="time">72분</div>
                                    </div>
                                    <div class="summary"><p>겨울은 유독 본인에게만 차가운 정원에게 칭찬 한마디를 기대해보지만, 쉽지 않다. 
                                        흉부외과에는 새로운 교수가 부임해오고... 오늘도 재학의 24시간은 모자라다.</p></div>
                                </div>
                                <div class="blank"></div>
                            </div>
                            <div class="epi" onclick="location.href='/streaming/슬기로운 의사생활/2'">
                                <div class="e_number out_box"><div class="e_num in_box">5</div></div>
                                <div class="thumbnail out_box"><div class="in_box"><img class="thumb" src="/images/thumb/슬기로운 의사생활5_thumb.jpg"></div></div>
                                <div class="text">
                                    <div class="e_title">
                                        <div class="story">5화</div>
                                        <div class="time">81분</div>
                                    </div>
                                    <div class="summary"><p>대시에 어떤 대답도 없는 익순 때문에 종일 휴대폰만 들여다보는 준완. 
                                        한편, 정원이 오래 지켜봐 온 환자 상태가 악화되고, 보호자에게 어려운 소식을 전하는데.</p></div>
                                </div>
                                <div class="blank"></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="conbox con2">
                        <div class="ostpart">
                            <div class="LP">
                                <div class="center">
                                    <img class="vinyl" src="/images/vinyl.png" alt="vinyl">
                                    <img class="cover" src="/images/cover.jpg" alt="cover">
                                </div>
                            </div>
                            <div class="track first_t">
                                <div class="number">1</div>
                                <div class="o_title">Lonely Night</div>
                                <div class="singer">권진아</div>
                                <div class="option">
                                    <a class="music"><iframe width="20" height="20" src="https://www.youtube.com/embed/3JJEAHst96w?controls=0"
                                        title="YouTube video player" frameborder="0" allow="accelerometer; 
                                        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe></i></a>
                                    <a class="music" href=""><i class="far fa-heart v_i"></i></a>
                                </div>
                            </div>
                            <div class="track">
                                <div class="number">2</div>
                                <div class="o_title">좋은 사람 있으면 소개시켜줘</div>
                                <div class="singer">조이 (JOY)</div>
                                <div class="option">
                                    <a class="music" href=""><iframe width="20" height="20" src="https://www.youtube.com/embed/hoLzH1revMg?controls=0"
                                        title="YouTube video player" frameborder="0" allow="accelerometer; 
                                        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe></a>
                                    <a class="music" href=""><i class="far fa-heart v_i"></i></a>
                                </div>
                            </div>
                            <div class="track">
                                <div class="number">3</div>
                                <div class="o_title">아로하</div>
                                <div class="singer">조정석</div>
                                <div class="option">
                                    <a class="music" href=""><iframe width="20" height="20" src="https://www.youtube.com/embed/3DOkxQ3HDXE?controls=0" 
                                        title="YouTube video player" frameborder="0" allow="accelerometer; 
                                        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe></a>
                                    <a class="music" href=""><i class="far fa-heart v_i"></i></a>
                                </div>
                            </div>
                            <div class="track">
                                <div class="number">4</div>
                                <div class="o_title">화려하지 않은 고백</div>
                                <div class="singer">규현 (KYUHYUN)</div>
                                <div class="option">
                                    <a class="music" href=""><iframe width="20" height="20" src="https://www.youtube.com/embed/ftQF5AbDMLM?controls=0"
                                        title="YouTube video player" frameborder="0" allow="accelerometer; 
                                        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe></a>
                                    <a class="music" href=""><i class="far fa-heart v_i"></i></a>
                                </div>
                            </div>
                            <div class="track">
                                <div class="number">5</div>
                                <div class="o_title">그대 고운 내 사랑</div>
                                <div class="singer">어반자카파</div>
                                <div class="option">
                                    <a class="music" href=""><iframe width="20" height="20" src="https://www.youtube.com/embed/vANdEL9vpjw?controls=0"
                                        title="YouTube video player" frameborder="0" allow="accelerometer; 
                                        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe></a>
                                    <a class="music" href=""><i class="far fa-heart v_i"></i></a>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>	
    
    <script>
        //브라우저의 뒤로가기 버튼 클릭 시, 페이지 reload
        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                window.location.reload();
            }
        });
        const modal = document.querySelector('.modal');
        const preview = document.querySelector('.btn-open-popup');

        const body = document.querySelector('body');
        const logout_modal = document.querySelector('.logout_modal');
        const exit_modal = document.querySelector('.exit_modal');
        const logoutBtn = document.querySelector('.logout');
        const exitBtn = document.querySelector('.exit');
        const yesBtnExit = document.querySelector('.yes_btn_exit');
        const noBtnExit = document.querySelector('.no_btn_exit');
        const yesBtn = document.querySelector('.yes_btn');
        const noBtn = document.querySelector('.no_btn');
        const lines = document.querySelector('.lines');
        const lines_exit = document.querySelector('.lines_exit');
        var h2 = document.getElementsByTagName('h2')[0];
        var h22 = document.getElementsByTagName('h2')[1];

        logoutBtn.addEventListener('click', () => {
            logout_modal.classList.toggle('show');

        if (logout_modal.classList.contains('show')) {
          body.style.overflow = 'hidden';
        }
      });

      exitBtn.addEventListener('click', () => {
        exit_modal.classList.toggle('show');

        if (exit_modal.classList.contains('show')) {
          body.style.overflow = 'hidden';
        }
      });

      logout_modal.addEventListener('click', (event) => {
        if (event.target === logout_modal) {
            logout_modal.classList.toggle('show');

          if (!logout_modal.classList.contains('show')) {
            body.style.overflow = 'auto';
          }
        }
      });

      exit_modal.addEventListener('click', (event) => {
        if (event.target === exit_modal) {
            exit_modal.classList.toggle('show');

          if (!exit_modal.classList.contains('show')) {
            body.style.overflow = 'auto';
          }
        }
      });

      noBtn.addEventListener('click',(event)=>{
          location.href="/main";
      })

      noBtnExit.addEventListener('click',(event)=>{
          location.href="/main";
      })

      yesBtn.addEventListener('click',(event)=>{
          h2.remove();
          yesBtn.remove();
          noBtn.remove();
        
          lines.innerHTML="로그아웃 처리 되었습니다. 3초 후 로그인 페이지로 돌아갑니다.";
          setTimeout(function(){
              location.href="/logout";
          },3000);
      })

      yesBtnExit.addEventListener('click',(event)=>{
          h22.remove();
          yesBtnExit.remove();
          noBtnExit.remove();

          lines_exit.innerHTML="탈퇴 처리 되었습니다. 3초 후 로그인 페이지로 돌아갑니다.";
          setTimeout(function(){
              location.href="/remove";
          },3000);
      })

      //페이스북 로그인 시 url 끝에 생기는 '#_=_'를 제거
    if (window.location.hash && window.location.hash == '#_=_') { 
         history.pushState("", document.title, window.location.pathname + window.location.search);
    }




        preview.addEventListener('mouseover', () => {
            modal.style.display = 'block';
        });
        preview.addEventListener('mouseout', () => {
            modal.style.display = 'none';
        });

        modal.addEventListener('mouseover', () => {
            modal.style.display = 'block';
        });
        modal.addEventListener('mouseout', () => {
            modal.style.display = 'none';
        });
        
        function zoomIn(event) {
            event.target.style.transform = "scale(1.02)";
            event.target.style.zIndex = 1;
            event.target.style.transition = "all 0.2s";
        }
        function zoomOut(event) {
            event.target.style.transform = "scale(1)";
            event.target.style.zIndex = 0;
            event.target.style.transition = "all 0.5s";
        }

        const open = document.querySelector(".open");
        const close = document.querySelector(".close");
        const detail = document.querySelector(".modal2");

        function init() {
            open.addEventListener("click", function(){
                // document.body.classList.add(".stop-scroll");
                detail.classList.remove("hidden");
                
;           });
            close.addEventListener("click",function(){
                detail.classList.add("hidden");
            });
        }

        init();
    </script>

</body>
</html>