<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=target_video.title%></title>
        <link rel="stylesheet" href="/stylesheets/video/detail_page_style.css">
        <script src="https://kit.fontawesome.com/11643b24f4.js" crossorigin="anonymous"></script>
        <!--nodejs로부터 css에도 데이터 넘겨주기 위해 inline방식 사용-->
        <style>
              .playpart{
                    display: block;
                    margin:0px auto;
                    margin-top: 10px;
                    width: 850px;
                    /* height: 480px; */
                    /* object-fit: cover;
                    object-position: top; */
                    background : linear-gradient(to top, #181818, transparent 70%), url('/images/thumb/<%=target_video.title%>_thumb.jpg');
                    background-size: cover;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
        </style>
    </head>
<body class="background">
    <div class="modal">
        <div class="playpart">
            <div style="position: relative;">
                <div style="position: absolute; top: 30px; right: 35px;">
                    <button class="circle close" onclick="location.href='/main'"><i class="fas fa-times"></i></button>
                </div>
                    <%if(target_video.type == 'original'){%> <!--original동영상이면 이미지 띄워주기-->
                        <img class="video" src="/images/thumb/<%=target_video.title%>_thumb.jpg" ></img>
                    <%}else if(target_video.type == 'youtube'){%> <!--youtube동영상이라면 티저영상 띄워주기-->
                        <iframe class="detail_video" width="850" height="479" src=<%=target_video.src%> 
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <%}%>
                <!-- <iframe width="850" height="479" src="https://www.youtube.com/embed/SaBwCrrk8ng?controls=0" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <div style="position: absolute; top: 230px; left: 50px;">
                    <img class="logo" src="/images/logo/<%=target_video.title%>_logo.png"></img>
                    <div class="buttons">
                        <button class="play" onclick="location.href='/streaming/<%=target_video.title%>/1'"><i class="fas fa-play playing"></i> 재생</button>
                        <form action="/like/<%=target_video.title%>" method="get">
                        <button class="circle"><i class="fas fa-check"></i></button>
                        </form>
                        <button class="circle"><i class="far fa-thumbs-up"></i></button>
                        <button class="circle"><i class="far fa-thumbs-down"></i></button>
                        <!-- <button class="circle" id="mute"><i class="fas fa-volume-mute"></i></button> -->
                    </div>
                </div>
            </div>
            <!-- <img class="video" src="video.jpg"></img> -->
        </div>
        <div class="infopart">
            <div class="section1">
                <div class="left">
                    <p>
                        <span style="color:#46D369; font-weight:bold;">92% 일치 </span>
                        <span style="color: #FFFFFF; font-weight:normal">2021</span>
                    </p>
                    <p>
                        <span class ="detail" style="color: #FFFFFF; font-weight:normal;">
                            <%= target_video.content %>
                        </span>
                    </p>
                </div>
                <div class="right">
                    <div class="info">
                        <span class="article">출연:</span>
                        <span class="contents"><%=target_video.cast%>, <I>더보기</I></span>
                    </div>
                    <div class="info">
                        <span class="article">장르:</span>
                        <span class="contents"><%=target_video.genre%></span>
                    </div>
                    <div class="info">
                        <span class="article">프로그램 특징:</span>
                        <span class="contents"><%=target_video.feature%></span>
                    </div>
                </div>
            </div>


            <div class="tab_content">
                <input type="radio" name="tabmenu" id="tab01" checked>
                <label for="tab01"><h3>회차</h3></label>
                <input type="radio" name="tabmenu" id="tab02" unchecked>
                <label for="tab02"><h3>OST</h3></label>

                <div class="conbox con1">
                    <div class="episode">
                        <%for(var episode_idx = 0; episode_idx < target_video.episode.length; episode_idx++){%>
                        <!-- <div class="es"><h3 id="es">회차</h3></div> -->
                        <%if(episode_idx == 0){%>
                        <div class="epi first_e" onclick="location.href='/streaming/<%=target_video.title%>/<%=episode_idx + 1%>'">
                            <div class="e_number out_box"><div class="e_num in_box">1</div></div>
                            <div class="thumbnail out_box"><div class="in_box"><img class="thumb" src="/images/thumb/<%=target_video.title%><%=episode_idx+1%>_thumb.jpg"></div></div>
                            <div class="text">
                                <div class="e_title">
                                    <%if(target_video.episode[episode_idx].epi_title){%>
                                        <div class="story"><%=target_video.episode[episode_idx].epi_title%></div>
                                    <%}else{%>
                                        <div class="story"><%=episode_idx + 1%>화</div>
                                    <%}%>
                                    
                                    <div class="time"><%=target_video.episode[episode_idx].time%>분</div>
                                </div>
                                <div class="summary"><p><%=target_video.episode[episode_idx].epi_content%></p></div>
                            </div>
                            <div class="blank"></div>
                        </div>
                        <%}else{%>
                        <div class="epi" onclick="location.href='/streaming/<%=target_video.title%>/<%=episode_idx + 1%>'">
                            <div class="e_number out_box"><div class="e_num in_box"><%=episode_idx + 1%></div></div>
                            <div class="thumbnail out_box"><div class="in_box"><img class="thumb" src="/images/thumb/<%=target_video.title%><%=episode_idx+1%>_thumb.jpg"></div></div>
                            <div class="text">
                                <div class="e_title">
                                    <%if(target_video.episode[episode_idx].epi_title){%>
                                        <div class="story"><%=target_video.episode[episode_idx].epi_title%></div>
                                    <%}else{%>
                                        <div class="story"><%=episode_idx + 1%>화</div>
                                    <%}%>                                    <div class="time"><%=target_video.episode[episode_idx].time%>분</div>
                                </div>
                                <div class="summary"><p><%=target_video.episode[episode_idx].epi_content%></p></div>
                            </div>
                            <div class="blank"></div>
                        </div>
                        <%}}%>
                    </div>
                </div>
                <div class="conbox con2">
                    <div class="ostpart">
                        <div class="LP">
                            <div class="center">
                                <img class="vinyl" src="/images/detail/vinyl.png" alt="vinyl">
                                <%if(target_video.type == 'youtube'){%>
                                    <img class="cover" src="/images/ost/<%= target_video.title %>_ost.jpg" alt="cover">
                                <%}else if(target_video.type == 'original'){%>
                                    <img class="cover" src="/images/ost/original_ost.jpg" alt="cover">
                                <%}%>
                            </div>
                        </div>
                        <%for(var ost_idx = 0; ost_idx < target_video.ost.length; ost_idx++){%>
                        <%if(ost_idx == 0){%>
                        <div class="track first_t">
                            <div class="number">1</div>
                            <div class="o_title"><%=target_video.ost[ost_idx].song%></div>
                            <div class="singer"><%=target_video.ost[ost_idx].singer%></div>
                            <div class="option">
                                <a class="music" href=""><iframe width="20" height="20" src=<%=target_video.ost[ost_idx].ost_src%> 
                                    title="YouTube video player" frameborder="0" allow="accelerometer; 
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe></a>
                                <a class="music" href=""><i class="far fa-heart"></i></a>
                            </div>
                        <%}else{%>
                        </div>
                        <div class="track">
                            <div class="number"><%=ost_idx + 1%></div>
                            <div class="o_title"><%=target_video.ost[ost_idx].song%></div>
                            <div class="singer"><%=target_video.ost[ost_idx].singer%></div>
                            <div class="option">
                                <a class="music" href=""><iframe width="20" height="20" src=<%=target_video.ost[ost_idx].ost_src%> 
                                    title="YouTube video player" frameborder="0" allow="accelerometer; 
                                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe></a>
                                <a class="music" href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        <%}}%>
                        <!--
                        <div class="track">
                            <div class="number">3</div>
                            <div class="o_title">아로하</div>
                            <div class="singer">조정석</div>
                            <div class="option">
                                <a class="music" href="https://youtu.be/3DOkxQ3HDXE" target="_blank"><i class="fas fa-play"></i></a>
                                <a class="music" href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        
                        <div class="track">
                            <div class="number">4</div>
                            <div class="o_title">화려하지 않은 고백</div>
                            <div class="singer">규현 (KHUHYUN)</div>
                            <div class="option">
                                <a class="music" href=""><i class="fas fa-play"></i></a>
                                <a class="music" href=""><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                        -->
                    </div>        
                </div>
            </div>


        </div>
    </div>
</body>
</html>