

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DramaName</title>
    <link rel="stylesheet" href="/stylesheets/video/detail_page_style.css">
    <script src="https://kit.fontawesome.com/11643b24f4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="background">
        <div class="playpart">
            <div style="position: relative;">   
                <%if(target_video.type == 'original'){%> <!--original동영상이면 이미지 띄워주기-->
                    <img class="video" src="/images/thumb/<%=target_video.title%>_thumb.jpg"></img>
                <%}else if(target_video.type == 'youtube'){%> <!--youtube동영상이라면 티저영상 띄워주기-->
                    <iframe width="850" height="479" src=<%=target_video.src%> 
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <%}%>
                <div style="position: absolute; top: 240px; left: 50px;">
                    <img class="logo" src="/images/logo/<%=target_video.title%>_logo.png"></img>
                    <button class="play"><i class="fas fa-play playing"></i> 재생</button>
                    <form action="/like/<%=target_video.title%>" method="get">
                    <button class="circle"><i class="fas fa-check"></i></button>
                    </form>
                    <button class="circle"><i class="far fa-thumbs-up"></i></button>
                    <button class="circle"><i class="far fa-thumbs-down"></i></button>
                    <button class="circle" id="mute"><i class="fas fa-volume-mute"></i></button>
                </div>
            </div>
        </div>
        <div class="infopart">
            <div class="left">
                <p>
                    <span style="color:#46D369; font-weight:bold;">92% 일치 </span>
                    <span style="color: #FFFFFF; font-weight:normal">2021</span>
                </p>
                <p>
                    <span class ="text" style="color: #FFFFFF; font-weight:normal;">
                        <%= target_video.content %>
                    </span>
                </p>
            </div>
            <div class="right">
                <div class="info">
                    <span class="article">출연:</span>
                    <span class="contents"><%=target_video.cast%>, <I>더보기</I></span>
                </div>
                <div class="info">
                    <span class="article">장르:</span>
                    <span class="contents"><%=target_video.genre%></span>
                </div>
                <div class="info">
                    <span class="article">프로그램 특징:</span>
                    <span class="contents"><%=target_video.feature%></span>
                </div>
            </div>
            <div class="epi_sode">
                <h3>회차</h3>
            </div>
            <div class="ostpart">
                <h3><span style="color: #FFFFFF; font-size: 24px;">OST</span></h3>
                <div class="LP">
                    <div class="center">
                        <img class="vinyl" src="/images/detail/vinyl.png" alt="vinyl">
                        <img class="cover" src="/images/detail/cover.jpg" alt="cover">
                    </div>
                </div>
                <% target_video.ost.forEach((ost)=>{%>
                    <div class="track_t">
                        <div class="number"><%=ost.__index + 1%></div>
                        <div class="o_title"><%=ost.song%></div>
                        <div class="singer"><%=ost.singer%></div>
                        <div class="option">
                            <iframe width="20" height="20" src=<%=ost.ost_src%> 
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a class="music" href=""><i class="fas fa-play"></i></a>
                            <a class="music" href=""><i class="far fa-heart"></i></a>
                        </div>
                    </div>
               <%});%>
               <!--
                <div class="track_t">
                    <div class="number">1</div>
                    <div class="o_title">Lonely Night</div>
                    <div class="singer">권진아</div>
                    <div class="option">
                        <iframe width="20" height="20" src="https://www.youtube.com/embed/3JJEAHst96w?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <a class="music" href=""><i class="fas fa-play"></i></a>
                        <a class="music" href=""><i class="far fa-heart"></i></a>
                    </div>
                </div>
                <div class="track">
                    <div class="number">2</div>
                    <div class="o_title">좋은 사람 있으면 소개시켜줘</div>
                    <div class="singer">조이 (JOY)</div>
                    <div class="option">
                        <a class="music" href=""><i class="fas fa-play"></i></a>
                        <a class="music" href=""><i class="far fa-heart"></i></a>
                    </div>
                </div>
                <div class="track">
                    <div class="number">3</div>
                    <div class="o_title">아로하</div>
                    <div class="singer">조정석</div>
                    <div class="option">
                        <a class="music" href="https://youtu.be/3DOkxQ3HDXE" target="_blank"><i class="fas fa-play"></i></a>
                        <a class="music" href=""><i class="far fa-heart"></i></a>
                    </div>
                </div>
                <div class="track">
                    <div class="number">4</div>
                    <div class="o_title">화려하지 않은 고백</div>
                    <div class="singer">규현 (KHUHYUN)</div>
                    <div class="option">
                        <a class="music" href=""><i class="fas fa-play"></i></a>
                        <a class="music" href=""><i class="far fa-heart"></i></a>
                    </div>
                </div>-->
            </div>
        
            <div class="episode">
                <h3><span style="color: #FFFFFF; font-size: 24px; padding-top: 30px;">회차</span></h3>
                <% target_video.episode.forEach((episode)=>{%>
                <div class="epi">
                    <div class="e_number"><%=episode.__index + 1%></div>
                    <div class="thumbnail"><img class="thumb" src="/images/thumb/<%=target_video.title%><%=episode.__index+1%>_thumb.jpg"></div>
                    <div class="text">
                        <div class="e_title">
                            <div class="story"><%=episode.__index + 1%>화</div>
                            <div class="time"><%=episode.time%>분</div>
                        </div>
                        <button class="summary" onclick="location.href='/streaming/<%=target_video.title%>/<%=episode.__index + 1%>'"><p><%=episode.epi_content%></p></button>
                    </div>
                    <div class="blank"></div>
                </div>
                <%});%>
            </div>
        </div>
    </div>
</body>
</html>



