<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhuFlix</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/video/search_page_style.css">
</head>
<body>
    <header>
        <nav class="navBar">
            <div class="nav_left">
                <div class="KHUFLIX">
                    <div class="in_logo"><img class="title" src="/images/KHUFLIX.PNG" onclick="location.href='/main'"></div>
                </div>
                <div class="nav_menu">
                    <ul class="In_navbar">
                        <a class="menu page" href="/main">홈</a>
                        <a class="menu" href="/TV_list">TV 프로그램</a>
                        <a class="menu" href="/movie_list">영화</a>
                        <a class="menu" href="/like">내가 찜한 콘텐츠</a>
                        <form action="/search" method="post">
                            <div class="btn_right">검색  <input type="text" placeholder="검색어를 입력하세요!" name="keyword" id="search" 
                                onKeypress="javascript:if(event.keyCode==13) {location.href='search_page.html'}"
                                onfocus="this.placeholder=''"
                                onblur="this.placeholder='검색어를 입력하세요!'"
                                autocomplete="off" />
                            </div>
                        </form>   
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </header>
    <div class="wrap">
        <%if(result =='true_for_title'){%> <!--제목으로 검색-->
            <!-- 1안 -->
            <!-- <div class="results_display">
                <img class="results" src="/images/thumb/<%=video.title%>_thumb.jpg" onclick="location.href='/detail?title=<%=video.title%>'">
                <p><%=video.title%></p>
            </div> -->

            <!-- 2안(list ver.) -->
            <div class="watchedlist">
                <ul>
                    <li>
                        <a href="/detail?title=<%=video.title%>">
                            <div class="screen">
                                <img src="/images/thumb/<%=video.title%>_thumb.jpg">
                            </div>
                            <div>
                                <h3><%=video.title%></h3>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        <%}else if(result=='true_for_contents'){%> <!--내용으로 검색-->
            <!-- 1안 -->
            <!-- <div class="results_display">
            <% result_videos.forEach((video)=>{%> 
                <img class="results" src="/images/thumb/<%=video.title%>_thumb.jpg" onclick="location.href='/detail?title=<%=video.title%>'">
                <p><%=video.title%></p>
            <%});%>
            </div> -->
    
            <!-- 2안(list ver.) -->
            <div class="watchedlist">
                <ul>
                    <% result_videos.forEach((video)=>{%>
                    <li>
                        <a href="/detail?title=<%=video.title%>">
                            <div class="screen">
                                <img src="/images/thumb/<%=video.title%>_thumb.jpg" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                            </div>
                            <div>
                                <h3><%=video.title%></h3>
                            </div>
                        </a>
                    </li>
                    <%});%>
                </ul>
            </div>
    
        <%}else if(result===false){%> <!--검색 실패-->
            <div class="noReturn">
                <h3>입력하신 검색어와 일치하는 결과가 없습니다 :(</h3>
                <br>
                <p> <b>추천 검색어 : </b> </p>
                <br>
                <p>
                    * 다른 키워드를 입력해보세요 <br>
                    * TV 프로그램이나 영화를 찾고 있으신가요? <br>
                    * 영화 제목, TV 프로그램 제목, 또는 배우나 감독의 이름으로 검색해 보세요. <br>
                    * 코미디, 로맨스, 스포츠 또는 드라마와 같은 장르명으로 검색해보세요. 
                </p>
            </div>
        <%}%>
    </div>
    <script>
        function zoomIn(event) {
            event.target.style.transform = "scale(1.02)";
            event.target.style.zIndex = 1;
            event.target.style.transition = "all 0.2s";
        }
        function zoomOut(event) {
            event.target.style.transform = "scale(1)";
            event.target.style.zIndex = 0;
            event.target.style.transition = "all 0.5s";
        }
    </script>
</body>
</html>